evaluate==0.4.2
keyboard==0.13.5
matplotlib==3.9.1.post1
numpy==2.0.1
opencv_python_headless==4.10.0.84
Pillow==10.4.0
pytorch_lightning==2.3.3
scikit_learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
scikit-image
tifffile==2024.7.24
torch==2.4.0
transformers==4.43.3
umap==0.1.1